<h1>Leader Board</h1>
<table>
    <tr>
        <th>
            User
        </th>
        <th>
            Score
        </th>
    </tr>
    <% @leaders.each do |leaders| %>
    <tr>
        <td>
            <%= leaders.name %>
        </td>
        <td>
            <%= leaders.score %>
        </td>
    </tr>
    <% end %>
</table>
<br/>
<form action='leaderboard' method='post'>
    <button name= 'buttonClicked' type='submit'>
        Home
    </button>
</form>
